// colors
$primary: #F9F6F2;
$primary-variant: #F1D6AB;
$secondary: #A0855B;
$secondary-variant: #38470B;
$background: #FFFFF;
$error: #B00020;

// font-family
$font-family-headers: Montserrat;
$font-family-body: Montserrat;

// font-size
$font-size-h1: 48px;
$font-size-h2: 34px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 20px;
$font-size-h6: 20px;

$font-size-body-regular: 16px;
$font-size-body-small: 14px;

$button: 14px;

// font-weight
$font-thin: 100;
$font-thinner: 300;
$font-regular: 400;
$font-thicker: 500;
$font-bold: 700;

// border
$le_ri_fully_rounded: 999px;

