// colors
$primary: #F9F6F2;
$primary-variant: #F1D6AB;
$secondary: #A0855B;
$secondary-variant: #38470B;
$background: #FFFFF;
$error: #B00020;

// font-family
$font-family-headers: Montserrat;
$font-family-body: Montserrat;

// font-size
$font-size-h1: 96px;
$font-size-h2: 60px;
$font-size-h3: 48px;
$font-size-h4: 34px;
$font-size-h5: 24px;
$font-size-h6: 20px;

$font-size-body-regular: 16px;
$font-size-body-small: 14px;

$button: 14px;

