@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-sans;
        @apply text-xl md:text-6xl;
        font-weight: 600;
    }

    h2 {
        @apply font-sans;
        @apply text-sm md:text-2xl;
        font-weight: 400;
    }

    h3 {
        @apply font-sans;
        font-size: 24px;
        font-weight: 400;
    }

    h4 {
        @apply font-sans;
        font-size: 20px;
        font-weight: 400;
    }

    h5 {
        @apply font-sans;
        font-size: 20px;
        font-weight: 400;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        @apply font-sans;
        font-size: 16px;
        font-weight: 300;
    }

    section {
        @apply p-5 md:p-10;
    }
}
