@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-sans;
        font-size: 48px;
        font-weight: 700;
    }

    h2 {
        @apply font-sans;
        font-size: 34px;
        font-weight: 400;
    }

    h3 {
        @apply font-sans;
        font-size: 24px;
        font-weight: 400;
    }

    h4 {
        @apply font-sans;
        font-size: 20px;
        font-weight: 400;
    }

    h5 {
        @apply font-sans;
        font-size: 20px;
        font-weight: 400;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        @apply font-sans;
        font-size: 16px;
        font-weight: 300;
    }

    section {
        @apply p-10;
    }
}
